version: "3.7"

services:

    nginx:
        image:  nginx:alpine
        restart: always
        volumes:
            - ./conf.d/nginx.conf:/etc/nginx/nginx.conf
            - ./templates:/etc/nginx/templates
            - ./conf.d:/etc/nginx/conf.d
        ports: 
            - "80:80"
        environment: 
            - NGINX_HOST=127.0.0.1
            - NGINX_PORT=80