version: "3.7"

services:

    # nginx:
    #     image:  nginx:alpine
    #     restart: always
    #     volumes:
    #         - ./nginx/conf.d/nginx.conf:/etc/nginx/nginx.conf #Nginx main configure file
    #         - ./nginx/conf.d:/etc/nginx/conf.d #Other nginx configure files
    #     ports: 
    #         - 8080:80
    #     environment: 
    #         - NGINX_HOST=127.0.0.1
    #         - NGINX_PORT=80
    es:
        image: docker.elastic.co/elasticsearch/elasticsearch:7.8.1
        container_name: es
        environment:
            - node.name=es
            - discovery.type=single-node
            - XPACK_SECURITY_ENABLED=false
            - XPACK_REPORTING_ENABLED=false
            - XPACK_MONITORING_ENABLED=false
            - bootstrap.memory_lock=true
            - "ES_JAVA_OPTS=-Xms256m -Xmx256m"
        ulimits:
            memlock:
                soft: -1
                hard: -1
        volumes:
            - ./elasticsearch/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:ro
            - ESdata:/usr/share/elasticsearch/data
        ports:
            - 9200:9200
        networks:
            - elk
    ls:
        image: docker.elastic.co/logstash/logstash:7.8.1
        container_name: ls
        volumes: 
            - ./logstash/config/logstash.yml:/usr/share/logstash/config/logstash.yml
            - ./logstash/pipelines.yml:/usr/share/logstash/config/pipelines.yml:ro
            - ./logstash/pipelines:/usr/share/logstash/config/pipelines:ro
        ports: 
            - 5000:5000/tcp
            - 5000:5000/udp
            - 9600:9600
        environment:
            - node.name=ls
            - ELASTIC_HOST=es:9200
            - XPACK_SECURITY_ENABLED=false
            - XPACK_REPORTING_ENABLED=false
            - XPACK_MONITORING_ENABLED=false
            - "LS_JAVA_OPTS=-Xmx256m -Xms256m"
        networks: 
            - elk
        depends_on:
            - es
    kb:
        image: docker.elastic.co/kibana/kibana:7.8.1
        container_name: kb
        volumes: 
            - ./kibana/config/kibana.yml:/usr/share/kibana/config/kibana.yml:ro
        ports:
          - 5601:5601
        depends_on:
          - es
        networks: 
            - elk
volumes:
    ESdata:
        driver: local
    
networks:
    elk:
        driver: bridge
